<h1 mat-dialog-title>Agregar Trabajo</h1>
<form>
<mat-dialog-content>
    <div class="spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <table class="example-full-width" cellspacing="30">
        <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Nombre del Trabajo</mat-label> 
                <input [(ngModel)]="newUser.nombre" matInput autofocus [ngModelOptions]="{standalone: true}">
              </mat-form-field>
        </td>
        <!-- <td>
            <mat-form-field appearance="fill">
                <mat-label>Apellido del Usuario</mat-label> 
                <input formControlName="apellido" matInput autofocus>
              </mat-form-field>
        </td>
        </tr>
        <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Celular del Usuario</mat-label> 
                <input formControlName="celular" matInput autofocus>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Rut del Usuario</mat-label> 
                <input formControlName="rut" matInput autofocus>
              </mat-form-field>

        </td>
        </tr> -->
        <!-- <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Dirección del Usuario</mat-label> 
                    <input formControlName="direccion" matInput autofocus>
                  </mat-form-field>
            </td>
        </tr> -->
    </table>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="agregarTrabajo()">Guardar</button>
</mat-dialog-actions>
</form>