<h1 mat-dialog-title>Modificar Trabajo</h1>
<form [formGroup]="Formulario"> 
<mat-dialog-content>
    <div class="spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <table class="example-full-width" cellspacing="30">
        <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Nombre del Trabajo</mat-label> 
                <input formControlName="nombreTrabajo" matInput autofocus>
              </mat-form-field>
        </td>
    </table>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="updateTrabajo(data)">Guardar</button>
</mat-dialog-actions>
</form>