<mat-toolbar class="mat-elevation-z8" >
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  JOBS
  <span class="flexExpand"></span>
  <!-- <button mat-icon-button (click)="1">Cerrar sesión
    <mat-icon>exit_to_app</mat-icon>
  </button> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >

    <h4 class="name">Seleccione una opción</h4>

    <mat-divider></mat-divider>
    <!-- <button mat-button class="menu-button" routerLink="/usuarios" (click)="sidenav.toggle()">
      <mat-icon>people</mat-icon>
      <span>Usuarios</span>
    </button> -->
    <button mat-button class="menu-button" routerLink="/trabajos" (click)="sidenav.toggle()">
      <mat-icon>work</mat-icon>
      <span>Trabajos</span>
    </button>

    <!-- <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>