<h1 mat-dialog-title>Editar Usuario</h1>
<form [formGroup]="Formulario">
<mat-dialog-content>
    <table class="example-full-width" cellspacing="30">
        <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Nombre del Usuario</mat-label> 
                <input formControlName="nombre" matInput autofocus>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Apellido del Usuario</mat-label> 
                <input formControlName="apellido" matInput autofocus>
              </mat-form-field>
        </td>
        </tr>
        <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Celular del Usuario</mat-label> 
                <input formControlName="celular" matInput autofocus>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Rut del Usuario</mat-label> 
                <input formControlName="rut" matInput autofocus>
              </mat-form-field>

        </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Dirección del Usuario</mat-label> 
                    <input formControlName="direccion" matInput autofocus>
                  </mat-form-field>
    
            </td>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="updateUsuario()">Guardar</button>
</mat-dialog-actions>
</form>