<button (click)="agregarTrabajo()" type="submit" mat-raised-button color="primary">Agregar Trabajo</button>
<br>
<br>

<div class="container">
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Mecánico" #input>
  </mat-form-field>
</div>


<div class="mat-elevation-z8">
    <div class="spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
<table mat-table [dataSource]="dataSourceTrabajos" class="mat-elevation-z8" *ngIf="dataSourceTrabajos" matsort>

  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Nombre </th>
    <td mat-cell *matCellDef="let row">{{row.nombre}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <!-- <ng-container matColumnDef="Apellido">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
    <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="Rut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rut </th>
    <td mat-cell *matCellDef="let row"> {{row.rut}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="Celular">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular</th>
    <td mat-cell *matCellDef="let row"> {{row.celular}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="Direccion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</th>
    <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container> -->
  <ng-container matColumnDef="Accion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="editarTrabajo(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminarTrabajo(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<br>

